body {
    font-family: 'Roboto', sans-serif;
    background: #37474F;
    position: absolute;
    top: 20%;
    left: 30%;
}

#title {
    color: #CFD8DC;
    text-align: center;
}

#info {
    color: #90A4AE;
    padding: 40px;
    display: none;
}

#links {
    position: absolute;
    padding-left: 110px;
    display: none;
    color: #90A4AE;
}

a:visited,
a:link {
    color: #CFD8DC;
    text-decoration: none;
}

a:active {
    color: #90A4AE;
}

#content {
    color: #90A4AE;
    text-align: center;
    line-height: 10px;
}

h4.desc {
    padding-top: 20px;
}

