body {
    font-family: 'Roboto', sans-serif;
    background: #37474F;
    position: absolute;
    top: 20%;
    left: 30%;
}

#title {
    padding: 5px;
    color: #CFD8DC;
    text-align: center;
}

#info {
    color: #90A4AE;
    padding: 40px;
    display: none;
}

#proj:visited,
#proj:link {
    color: #CFD8DC;
    text-decoration: none;
}

#proj:active {
    color: #90A4AE;
}