body {
	pointer-events: none;
background: black;
text-align:center;
}

marquee {
	pointer-events: none;
}

#bgvid{
	position: fixed;
	top:50%;
	left:50%;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(http://mlgesus.xyz/watch.mp4) no-repeat;
 background: #E0E0E0;
background-size: cover;
}

.NoClick{
	pointer-events: none;
}
#Main{
	 width:490px;
 height:500px;
margin:auto;
 position:absolute;
 top:0;bottom:0;
 left:0;right:0;
}



#scrollText{
	color:white;
	font-size:20px;
}


.main-container{
	float:left;
	position:relative;
	left:50%;
}
.fixer-container {
	float:left;
	position:relative;
	left:-50%;
}

audio{
	display:none;
}
p{
	color:white;
	pointer-events: none;
}